body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 2rem;
    padding: 1rem;
    color: hsl(210, 2%, 90%);
    background: hsl(240, 3%, 7%);
    }

    button {
    font-size: 18px;
    padding: 1.0rem;
    border-radius: 0.5rem;
    border-width: 1px;
    background: hsl(210, 10%, 20%);
    color: hsl(210, 0%, 95%);
    margin: 0.25rem 0.25rem;
    }

    button#start {
    width: 8rem;
    }

    button.guess {
    width: 4rem;
    background: hsl(210, 60%, 40%);
    }

    button:focus {outline:0;}

    .d-none {
        display: none;
    }

    .cube {
        padding: 0% 10%;
        margin: -2% 10%;
    }